* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h3 {
    text-align: center
}

.new-task {
    width: 300px;
    margin: 0 auto;
    border-bottom: thin solid grey;
    margin-bottom: 20px;
}

.new-task-form input,
.new-task-form button {
    font-family: Arial;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.check_all, .delete_all {
    display: inline-block;
    margin-bottom: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.task {
    color: black;
    width: 300px;
    display: block;
    margin: 10px;
    position: relative;
    min-height: 100px;
    border-bottom: thin solid grey;
}

.task .description {
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    clear: right;
    word-break: break-all;
}

.check,
.delete {
    display: inline-block;
}

.check button,
.delete button {
    font-family: Arial;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.task img {
    display: inline-block;
    width: 80px;
    height: 80px;
    float: right;
}